.one-card
{
    border: 1px solid;
    height: 600px;
    width: 400px;
    margin: auto;
    margin-top: 10px;

    h3{
        margin-left: 50px;
    }
}
.borders
{
   display: flex;
    height: 100px;
    width: 100px;
    h4{
        margin-left: 10px;
    }
}
button{
    height: 50px;
    width: 200px;
}
.button-back
{
  
    margin-left: 100px;
}